/*======================================================================================*/
/*Color Prinncipal*/
.home{
  background-color: #f6f3ef;

  }

/*========================================================================================*/
/*Margen para las etiquetas li*/
/*li{
  margin-right: 10px;
  
}*/

footer{
  margin-top: 35px;
}














	

