
/*.home{
	background-color:  #f6f3ef;

}*/

/*.navbar{
  background-color:  #f6f3ef;
  border-bottom: 1px solid #999;

}*/

.border-form{
	padding: 30px 70px;	
	margin-top: 160px;
	-webkit-box-shadow: -1px 6px 42px 12px rgba(0,0,0,0.79);
	-moz-box-shadow: -1px 6px 42px 12px rgba(0,0,0,0.79);
	box-shadow: -1px 6px 42px 12px rgba(0,0,0,0.79);
	
}



